<!DOCTYPE html>
<head>  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../style.css" />
    <title>Web Lab 2</title>
</head>
<body>
    <p class="center">User data</p>
    <div class="button-container center">
        <a class="button" href="/broken-access">Home</a>
    </div>
</body>