<!DOCTYPE html>
<head>  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Web Lab 2</title>
</head>
<body>
    <div class="center">
        <h1 class="header">Web Lab 2</h1>
    </div>
    <div class="button-container">
        <a class="button" href="/xss/safe">XSS</a>
        <a class="button" href="/broken-access">Broken access</a>
    </div>
</body>